%h3
  Пригласить пользователя
= simple_form_for @invite, :url => project_memberships_url(@project), :method => :post do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :require => true
    = f.input :role, :collection => Membership.roles_collection.invert, :include_blank => false, :selected => Membership::DEFAULT_ROLE
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'