%h1
  = @project.name
- if current_user.can_create?(@project.memberships.build)
  = render 'form'
%h3
  Участники:
%table.table.table-condensed
  - @project.memberships.each do |m|
    - d = MembershipDecorator.decorate m
    %tr
      %td
        = m.user
      %td
        = role_human m.role
      %td
        = d.remove_link

- if @project.invites.present?
  %br/
  %h3
    Приглашенные:
  %table.table.table-condensed
    - @project.invites.each do |i|
      - d = InviteDecorator.decorate i
      %tr
        %td
          = i.email
        %td
          = role_human i.role
        %td
          = d.remove_link
