= projects_link
%h1
  = @project.name
  = edit_project_link(@project)
- if current_user.can_create?(Membership.new(project: @project))
  = render 'form'

%h3 Участники

%table.table
  - @project.memberships.each do |m|
    - d = MembershipDecorator.decorate m
    %tr
      %td.col-xs-5
        = d.name
      %td.col-xs-5.form-inline-controls
        = roles_select m
      %td.col-xs-2
        = d.remove_link

- if @project.invites.present?
  %h3 Приглашенные
  %table.table
    - @project.invites.each do |i|
      - d = InviteDecorator.decorate i
      %tr
        %td.col-xs-5
          = i.email
        %td.col-xs-5
          = role_human i.role
        %td.col-xs-2
          = d.remove_link


- if @users_available_for_project.present?
  %h3 Возможно вы захотите их тоже пригласить

  %table.table
    - @users_available_for_project.each do |u|
      - u = UserDecorator.new u
      - target_id = "invite_user-#{u.id}"
      %tr
        %td.col-xs-5
          = u.name
        %td.col-xs-5.form-inline-controls
          = select_tag :role, options_for_select(Membership.roles_collection.invert, :include_blank => false, :selected => Membership::DEFAULT_ROLE), data: { target_id: "##{target_id}" }, role: 'membership_role_selector'
        %td.col-xs-2
          = link_to 'Добавить', project_memberships_url( @project, invite: {user_id: u.id} ), method: :post, id: target_id, class: 'btn btn-mini'
