= projects_link
%h1
  = @project.name
  = edit_project_link(@project)
- if current_user.can_create?(Membership.new(project: @project))
  = render 'form'

%h3 Участники

%table.table
  - @project.memberships.each do |m|
    - d = MembershipDecorator.decorate m
    %tr
      %td.col-xs-5
        = d.name
      %td.col-xs-5
        = roles_select m
      %td.col-xs-2
        = d.remove_link

- if @project.invites.present?
  %h3 Приглашенные
  %table.table
    - @project.invites.each do |i|
      - d = InviteDecorator.decorate i
      %tr
        %td.col-xs-5
          = i.email
        %td.col-xs-5
          = role_human i.role
        %td.col-xs-2
          = d.remove_link


%h3 Доступные пользователи

%table.table
  - users_available_for_project(@project).each do |u|
    - u = UserDecorator.new u
    %tr
      %td.col-xs-5
        = u.name
      %td.col-xs-5 "Селектор выбора роли"
      %td.col-xs-2
        = link_to 'Добавить', project_memberships_url( @project, invite: {email: u.email} ), method: :post
