%h1=t('.title')
= simple_form_for @password_form, :url => password_reset_path(@user), :html => {:method => :put} do |f|
  = f.error_notification
  .form-group
    = f.label :email
    %br/
    = @user.email
  .form-group
    = f.input :password
  .form-group
    = f.input :password_confirmation
    = hidden_field_tag :token, @token
  .actions
    = f.button :submit, t('helpers.submit.update')