!!!
%html{:lang => "ru"} 
  %head
    %meta{:charset => "UTF-8"}/ 
    %title
      = t('time_shift_addition', :hours => @human_hours, :project => @time_shift.project, :date => @human_date)
  %body
    = @time_shift.user.name
    добавил 
    = @human_hours
    в 
    = @time_shift.project
    за
    = @human_date
    %br/ 
    и сказал:
    %blockquote 
      = @time_shift.description
