= simple_form_for @reg, :url => users_path do |f|
  = f.error_notification
  .form-group
    = f.input :name, :require => true, label: false, input_html: {class: 'form-control'}
  .form-group
    = f.input :email, :require => true, label: false, input_html: {class: 'form-control'}
  .form-group
    = f.input :password, :require => true, :as => :eye_password, label: false, input_html: {class: 'form-control'}
  .form-group
    = f.button :submit, t('helpers.submit.signup'), :class => 'btn btn-primary btn-block btn-lg'
    %br


= render 'telegram_login'
