.page-header
  .pull-right
    = link_to 'Добавить', new_user_path, :class => 'btn btn-primary'
  %h1 Люди

%table.table.table-condensed
  %thead
    %tr
      %th Имя
      %th email
      %th Проекты
      %th Действия
  %tbody
    - @users.each do |u|
      - ud = UserDecorator.new u
      %tr
        %td= link_to u, user_url(u)
        %td= mail_to u.email
        %td= ud.available_projects
        %td
          = link_to 'изменить', edit_user_url(u), :class => 'btn btn-small'

