.welcome-content
  .row
    .col-sm-offset-3.col-sm-8
      %h1.welcome-header
        %strong Лёгкий учёт времени
        %br
        для команд и проектов
      .row
        .col-sm-6.col-md-5
          .welcome-start-button
            = link_to 'Начать пользоваться', signup_url, class: 'btn btn-welcome btn-block'
            %p.welcome-button-caption
              Абсолютно бесплатно. Навсегда.
        .col-sm-6.col-md-3
          = link_to "#{root_url}/auth/github", class: 'btn-welcome-github' do
            = ficon('github-circled', size: 20, v_align: :middle)
            = content_tag(:span, 'войти с github')
  .welcome-description
    .row
      .col-md-5.welcome-feature-block
        .row
          .col-sm-1.col-xs-2.col-md-3
            = image_tag 'clock-icon.svg', class: 'welcome-feature-icon-clock pull-right'
            .clearfix
          .col-sm-11.col-xs-10.col-md-9
            %strong
            Простой тайм–менеджмент
            %p
              поможет вам с анализом выполненных
              задач и оценкой новых
      .col-md-5.col-md-offset-1.welcome-feature-block
        .row
          .col-sm-1.col-xs-2.col-md-3
            = image_tag 'gantt-icon.svg', class: 'welcome-feature-icon-gantt pull-right'
            .clearfix
          .col-sm-11.col-xs-10.col-md-9
            %strong
              Интеграция
            %p
              с современными системами проект-
              %br
              менеджмента — Pivotal Tracker и Github

