= simple_form_for @project, :method => method ||= :post do |f|
  = f.error_notification
  .row
    .col-sm-6
      .row
        .col-12
          .mb-3
            = f.input :name, :require => true, input_html: {class: 'form-control'}
        .col-12
          .mb-3
            = f.input :slug, placeholder: 'project_12', input_html: {class: 'form-control'}, hint: 'Только латинские буквы и цифры, а также символы -_ без пробелов. Создастся автоматически если не укажите.'
        .col-12
          .mb-3
            .d-grid
              = f.button :submit, :class => 'btn btn-primary'

