%table.table
  %thead
    %tr
      %th Проект
      %th Количество часов
      %th Ваша роль
      %th(colspan=2) Участники
    
  %tbody
    - projects.each do |project|
      %tr
        %th
          = link_to project.name, project_memberships_url(project.id)
          - unless project.slug == project.name
            %code.text-muted= project.slug 
        %td= project.time_shifts.count
        %td= role_human(user.membership_of(project).role)
        %td.text-muted= UserDecorator.decorate_collection(project.users).map(&:link).join(', ').html_safe
        %td= link_to 'Пригласить участника', project_memberships_url(project) if project.active?
