!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "UTF-8"}/
    %title= t('new_invite', project: @invite.project.name)
  %body
    = @invite.user.name
    приглашает Вас
    = link_to 'принять участие', signup_url(register_form: {email: @invite.email})
    в проекте
    = @invite.project.name
    в роли
    = @role