.page-header
  .pull-right
    = link_to 'Добавить', new_owner_user_path, :class => 'btn btn-primary'
  %h1 Управление пользователям

%table.table.table-condensed
  %thead
    %tr
      %th Имя
      %th Email
      - Authentication.providers do |prov|
        %th= prov
      %th Проекты
      %th Действия
  %tbody
    - @users.each do |u|
      - ud = UserDecorator.new u
      %tr
        %td= link_to u, user_url(u), :role => :tooltip, :title => u.email
        - Authentication.providers do |prov|
          %td= u.by_provider(prov).uid
        %td= ud.email
        %td= ud.available_projects
        %td
          = link_to 'изменить', edit_profile_url(u), :class => 'btn btn-small'
