= simple_form_for @user, :url => profile_path do |f|
  = f.error_notification
  .mb-3
    = f.input :name, label: false, input_html: {class: 'form-control'}
  .mb-3
    = f.input :email, label: false, input_html: {class: 'form-control'}
  .mb-3
    .form-check
      = f.input :subscribed, label: false, input_html: {class: 'form-check-input'}
      = f.label :subscribed, class: 'form-check-label'
  -#= f.input :pivotal_person_id
  .mb-3
    .d-grid
      = f.button :submit, class: 'btn btn-primary'
