= simple_form_for @user, :url => profile_path do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :email, :label => false
    = f.input :subscribed
    -#= f.input :pivotal_person_id
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
