= simple_form_for @user, :url => profile_path do |f|
  = f.error_notification
  .form-group
    = f.input :name, label: false, input_html: {class: 'form-control'}
  = f.input :email, label: false, input_html: {class: 'form-control'}
  .form-group
    .pull-left
      = f.input :subscribed, label: false
    .pull-left
      = f.label :subscribed, class: 'checkbox'
    .clearfix
  -#= f.input :pivotal_person_id
  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-block'
