= simple_form_for @time_shift, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  .form-inputs
    = f.input :date, :as => :date_picker
    = f.association :project, :include_blank => false, :collection => available_projects_collection
    = f.association :user, :include_blank => false, :collection => available_users_to_set_collection
    = f.input :hours, :input_html => { :autofocus => :autofocus, :min => 0.1, :max => 24 }
    = f.input :description, :input_html => { :class => :span8 }
  .form-actions
    = button_tag type: 'submit', class: 'btn btn-primary',
      :data => { 'disable-with' => t(:saving, :scope => [:simple_form, :button, :disable_with])} do
      = icon :ok, :white
      = t :create, :scope => [:helpers, :submit, :time_shift]
