= simple_form_for @time_shift, :html => { :class => 'time-shift-form form-horizontal', role: 'time_shift_form' } do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-md-8.col-sm-offset-3.col-sm-6
        .form-group
          = f.label :date, class: 'time-shift-form-label'
          .time-shift-form-input
            = f.input :date, :as => :date_picker, label: false, input_html: {class: 'form-control input-sm'}
        .form-group
          = f.label :project, class: 'time-shift-form-label'
          .time-shift-form-input
            = f.association :project, :include_blank => false, :collection => setable_projects_collection, label: false, input_html: {class: 'form-control input-sm'}
          -# = f.association :user, :include_blank => false, :collection => available_users_to_set_collection
        .form-group
          = f.label :hours, class: 'time-shift-form-label'
          .time-shift-form-input
            = f.input :hours, as: :stepper, :input_html => { :autofocus => :autofocus, :min => 0.1, :max => 24, class: 'form-control input-sm' }, label: false
      .col-md-8.col-sm-offset-3.col-sm-6
        .form-group
          .time-shift-form-label
          .time-shift-form-input
            = f.input :description, :input_html => { :role => 'autosize', class: 'form-control input-sm' }, label: false
        .form-group
          .time-shift-form-label
          .time-shift-form-button-submit
            = button_tag type: 'submit', class: 'btn btn-primary btn-lg btn-block',
              :data => { 'disable-with' => t(:saving, :scope => [:simple_form, :button, :disable_with])} do
              = icon :ok, :white
              = t :create, :scope => [:helpers, :submit, :time_shift]
        .time-shift-form-label
        .time-shift-form-input
          .form-group
            = f.button :button, :type=>:reset, :class => 'btn btn-link pull-right' do
              Сбросить изменения
            .pull-right
              - if @time_shift.present? && @time_shift.hours
                = TimeShiftDecorator.new(@time_shift).remove_link
            .clearfix

:coffee
  $form = $('@time_shift_form')
  $stepper_input = $form.find('@stepper input')
  App.reset_btn_hide $form, $form.find('button[type="reset"]')
  default_stepper_value = $stepper_input.val()
  $form.on 'reset', -> $stepper_input.attr 'value', default_stepper_value
