- if time_shifts.present?
  %table.table.table-condensed.table-striped.table-hover
    %tr
      %th Дата записи
      %th Дата учета
      %th Время
      %th Проект
      %th Человек
      %th Описание
    - time_shifts.each do |ts|
      - ts = TimeShiftDecorator.decorate ts
      %tr
        %td= l ts.updated_at
        %td= l ts.date
        %td= human_hours ts.hours
        %td= ts.project
        %td= ts.user
        %td= ts.description

- else
  .alert Нет результатов
