- if time_shifts.present?
  %table.table.table-condensed.table-striped.table-hover
    %tr
      %th{width: '25%'} Дата учета
      %th{width: '10%'} Время
      %th{width: '10%'} Проект
      %th{width: '10%'} Человек
      %th{width: '35%'} Описание
      %th.print-hide{width: '10%'} Действия
    - time_shifts.each do |ts|      
      - ts = TimeShiftDecorator.decorate ts
      %tr{class: ts.tr_class}
        %td
          = l ts.date
          %br
          %small.muted
            %i= l ts.updated_at

        %td
          %b= human_hours ts.hours
        %td= ts.project
        %td= ts.user
        %td
          %small.muted= ts.description
        %td.print-hide
          = ts.update_link

- else
  .alert.alert-warning Нет результатов
