- if time_shifts.present?
  %table.table.table-condensed.table-striped.table-hover.time-shifts-table
    %tr
      %th.col-lg-2
        Дата учета
      %th.col-lg-1 Время
      %th.col-lg-1 Проект
      %th.col-lg-2 Исполнитель
      %th.col-lg-5 Описание
      %th.print-hide.col-lg-1
    - time_shifts.each do |ts|      
      - ts = TimeShiftDecorator.decorate ts
      %tr{class: ts.tr_class}
        %td
          = l ts.date
          -#%br
          -#%small.text-color-gray-light
            -#= ficon 'pencil-1'
            -#= l ts.updated_at

        %td
          %b= human_hours ts.hours
        %td= ts.project
        %td= ts.user
        %td
          %small.muted= ts.description
        %td.print-hide
          .pull-right
            = ts.update_link
          .clearfix

- else
  .alert.alert-warning Нет результатов
