- if @result.columns.present?
  -#%div{ class: @result.projects.count < 8 ? 'container' : '' }
  %table.table.summary-table
    %thead
      %tr
        %th
          Сводка за
          = summary_period_link @result
          %br
          = summary_group_link @result
        - @result.columns.each do |p|
          %th= p
        %th Всего

    %tbody
      - @result.days.each do |d|
        %tr
          %th{class: "#{week_day_class(d[:date])} summary-table-date"}= human_date d[:date]
          - @result.columns.each do |column|
            %td{class: week_day_class(d[:date])}
              - if d[:columns][column.id].blank?
                .muted= '-'
              - else
                = summary_hours @result, d, column
          %td{class: week_day_class(d[:date])}
            %b
              = link_to time_shifts_url(time_sheet_form: {date_from: d[:date], date_to: d[:date], group_by: :project}) do
                = human_hours @result.total_by_date[d[:date]]

  - if @result.columns.present?
    = render 'print_ready'

- else
  .container
    .alert-info Нет сводных данных за ближайший период.


