= render 'time_sheet_form'

- @result.result.each do |g|
  %h2.pull-left
    = g[:title]
    %small
      = title_of_group_results g
  .pull-right
    = render 'export_links'
  .clearfix
  = render 'list', :time_shifts => g[:time_shifts]


