.page-header
  .pull-right
    = link_to 'Добавить', new_time_shift_url, :class => 'btn btn-success'

  %h1 Журнал расхода времени

= render 'time_sheet_form'

- @groups.each do |g|
  %h2
    = g[:title]
    %small
      = title_of_group_results g
  = render 'list', :time_shifts => g[:time_shifts]

