.page-header
  .pull-right
    = link_to 'Добавить', new_time_shift_url, :class => 'btn btn-primary'

  %h1 Журнал расхода времени

= render 'time_sheet_form'

%table.table.table-condensed
  %tr
    %th Создано
    %th Изменено
    %th Дата учета
    %th Проект
    %th Человек
    %th Время
  - @time_shifts.each do |ts|
    %tr
      %td= l ts.created_at
      %td= l ts.updated_at
      %td= l ts.date
      %td= ts.project
      %td= ts.user
      %td= ts.hours

