.print-hide
  = link_to '&larr; назад в отчеты'.html_safe, time_shifts_url

.summary-table
  %h3.no-margin-top.pull-left
    Сводка
    &nbsp;
  %small.pull-left
    .btn-group
      = active_link_to 'за неделю', summary_time_shifts_url(period: :week), active: @result.period=='week', class: 'btn btn-default'
      = active_link_to 'за месяц', summary_time_shifts_url(period: :month), active: @result.period=='month', class: 'btn btn-default'

  .pull-right
    = render 'export_links'
  .clearfix
    = render 'summary'

- if @result.projects.present?
  = render 'print_ready'
