.container
  .pull-left
    = link_to home_url, :class => :brand do
      = image_tag image_path('masha_logo.svg'), class: 'brand-logo', width: 32, height: 32
      %span.brand-caption
        = Settings.app.title
  .pull-right
    Сделано в 
    = link_to 'http://brandymint.ru', target: :blank do
      = image_tag 'brandymint_logo.svg', class: 'footer-made-logo'
  .pull-right
    = link_to 'Обратная связь', feedback_url
  .clearfix

%br

.container
  .pull-left= app_version

= render 'analytics'
