!!!
%html
  %head
    = render 'layouts/head'
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = render_breadcrumbs :separator => ' / '
              = yield
      %footer.footer= render 'layouts/footer'
    :javascript
      window.ICRM_Settings = {
        // TODO: The current logged in user's email address.
        email: "john@example.com",

        // TODO: The current logged in user's names
        first_name: "John",
        last_name: "Abama",

        // TODO: The current logged in user's unique key (identificator)
        user_hash: "unique_user_idenfiticator",

        // TODO: The current logged in user's sign-up date as a Unix timestamp.
        created_at: 1234567890,

        // TODO OPTIONAL: The current logged in user's company name. Set up if exists.
        company_name: "John's company",
        // TODO OPTIONAL: The current logged in user's company unique key (identificator). Set up if exists.
        company_hash: "unique_company_identificator",
        // TODO OPTIONAL: The city of the company
        company_city: "Moscow",


        // TODO OPTIONAL: The serving manager hash-key
        manager_hash: 2ab38ced9a02ef"

        

        // Don't change this
        app_key: "9447b948d3fb9850bb4d82fc62b019e8d7689d99bb429c5e"
      };

      (function(){
        function l(){
          var s=document.createElement('script');
            s.type='text/javascript';
            s.async=true;
            s.src="http://widget.icrm.icfdev.ru/assets/v1.js";

          var x=document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s,x);
        }

        if(window.attachEvent){
          window.attachEvent('onload',l);
        }else{
          window.addEventListener('load',l,false);
        }
      })();