!!!
%html
  %head
    = render 'layouts/head'
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main.application-main-content{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = render_breadcrumbs :separator => ' / '
              = yield
      %footer.footer= render 'layouts/footer'
    = render 'layouts/convead_widget'
