!!!
%html
  %head
    = render 'layouts/head'
  %body.page-header-static{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/navigation', header: :static
    #main.application-main-content{:role => "main"}
      .container
        .content
          .row
            .col-lg-12
              = render_breadcrumbs :separator => ' / '
              = yield
      = render 'layouts/footer'
    = render 'flashes'
